img {
    margin-right: 40px;
}
nav {
    display: flex;
}
body {
    font-size: 40px;
}
a {
    display: block;
    margin-right: 30px;
}
.mobile-header {
    display: none;
}

.mobile-nav {
    display: none;
}
@media screen and (max-width : 700px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
     width: 100vw;
     height: 100vh;
    }
.mobile-header {
    display: flex;
}
}